services:
  redis:
    image: redis:7.2.3
    ports:
      - "127.0.0.1:6379:6379"
  postgres:
    image: postgis/postgis:16-3.4
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: geheim
      POSTGRES_DB: gpxviewer