Django==5.2.7
django-extensions==4.1

psycopg2
pyyml
requests
phonenumbers

gpxpy @ git+https://github.com/hggh/gpxpy.git@bugfix/hggh/url_link_escape_href
overpy==0.7
numpy
pandas

pycodestyle

redis
celery==5.5.2

geojson==3.2.0
djangorestframework==3.16.0
django-cors-headers==4.7.0

social-auth-app-django~=5.6.0

geopy
smopy

gunicorn
