{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GPX Viewer / OSM Toolbox</title>
	<script type="text/javascript" src="{% static 'bundle.js' %}?DEVELOPMENT_SERVER"></script>

	{% block opengraph %}{% endblock%}
</head>
<body>
	<div class="popup" id="popup"></div>
	<nav class="navbar navbar-dark bg-dark">
		<div>
			<button class="btn btn-outline-info" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
				</svg>
			</button>

			{% if user.is_authenticated and object %}
				<button type="button" class="btn btn-outline-info" title="Share Collection" data-bs-toggle="modal" data-bs-target="#modal_gc_share">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
						<path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"></path>
					</svg>
					<span class="d-none d-lg-inline">Share Collection</span>
				</button>
				<button type="button" class="btn btn-outline-info" title="Manage Waypoints" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWaypoint" aria-controls="offcanvasWaypoint">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M8 9.984C10.403 9.506 12 7.48 12 5a4 4 0 0 0-8 0c0 2.48 1.597 4.506 4 4.984M13 5c0 2.837-1.789 5.227-4.52 5.901l.244.487a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3 3 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.244-.487C4.789 10.227 3 7.837 3 5a5 5 0 0 1 10 0m-6.938-.495a2 2 0 0 1 1.443-1.443C7.773 2.994 8 2.776 8 2.5s-.226-.504-.498-.459a3 3 0 0 0-2.46 2.461c-.046.272.182.498.458.498s.494-.227.562-.495"/>
				  	</svg>
					<span class="d-none d-lg-inline">Waypoints</span>
				</button>
			{% endif %}
		</div>

		<span class="navbar-brand">{% block html_title %}{% endblock %}</span>
		<div>
		<div class="dropdown pe-5">
			<button type="button" class="btn btn-outline-info dropdown-toggle" title="Profile" data-bs-toggle="dropdown" aria-expanded="false">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
					<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>
					<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"></path>
				</svg>
			</button>
			<ul class="dropdown-menu">
			{% if user.is_authenticated %}
				<li><a href="{% url 'gcollection_list' %}" class="dropdown-item">Your Collections</a></li>
				<li><a href="{% url 'profile' %}" class="dropdown-item">Your Profile</a></li>
				<li>
					<form action="{% url 'logout' %}" method="post" id="logoutform">
						{% csrf_token %}
						<a class="dropdown-item" href="#" onclick="document.getElementById('logoutform').submit()">Logout</a>
					</form>
				</li>
			{% else %}		
				<li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
			{% endif %}
			</ul>
		</div>
			{% block split_track_button %}{% endblock%}
		</div>
	</nav>

	<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight">
		<div class="offcanvas-header">
			<h6 class="offcanvas-title d-none d-sm-block" id="offcanvasRight"><img src="{% static 'bootstrap-icons-1.11.2/scissors.svg' %}" /> Split Track</h6>
			<button type="button" id="right_canvas_close" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body px-0">
			{% block sidebarright %}{% endblock%}
		</div>
	</div>

	<div class="offcanvas offcanvas-start w-50" tabindex="-1" id="offcanvas">
		<div class="offcanvas-header">
			<h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h6>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			{% block sidebarleft %}{% endblock%}
		</div>
	</div>


	<div class="container-fluid pe-0 ps-0">
		{% block content %}{% endblock%}
	</div>
	<div class="container-fluid">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<div class="col-md-1 d-flex align-items-center">
				<span>
				<a class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
				 title="GitHub Project / Code / Issues" href="https://github.com/hggh/gpx-viewer" target="_blank">GitHub</a>
				</span>
				<span>
					<a class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1" 
					title="Changelog" href="https://github.com/hggh/gpx-viewer/blob/main/CHANGELOG.md" target="_blank">CHANGELOG</a>
				</span>
				<span>
					<a class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1" 
					title="Impressum" href="/impressum">Impressum</a>
				</span>
			</div>
		</footer>
	</div>
</body>
</html>
