{% load static %}
{% if object.is_single_segement_and_single_track is False %}
<div class="alert alert-danger" role="alert">
    Track Splitting works better if GPX File contains only one Track with one Segment!
</div>
{% endif %}

<div class="modal" id="gpx-track-user-segment-split-choose-waypoints" tabindex="-1" data-bs-backdrop="false">
    <form id="gpx-track-user-segment-split-choose-waypoints-form" action="" method="get">
    <input type="hidden" name="include_waypoints" value="1"/>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Download GPX Track with POIs as Waypoints</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="gpx-track-user-segment-split-choose-waypoints-body">
        <div>Select which waypoints will includes into the Track:</div>
        {% for waypoint_type in object.get_waypoint_types %}
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" name="{{waypoint_type.name}}" id="{{waypoint_type.name}}" checked>
            <label class="form-check-label" for="switchCheckChecked">{{waypoint_type.name }}</label>
        </div>
        <div class="ms-3 form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" name="{{waypoint_type.name}}_bookmark" id="{{waypoint_type.name}}">
            <label class="form-check-label" for="switchCheckChecked">only bookmarked</label>
        </div>
        {% endfor %}
        <br/>
        The POI waypoint will be placed on the Track, not on the orginal position. Garmin supports only Waypoints directly on the track and Garmin will strip the name and only suports only 200 waypoints per Track. (depends on your device)
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="gpx-track-user-segment-split-choose-waypoints-download">Download!</button>
        </div>
      </div>
    </div>
    </form>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">KM</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for split in object.user_segments.all %}
        <tr class="user-track-splits" data-id="{{split.pk}}" data-segment-id="{{ split.get_segment_id }}">
            <th scope="row">{{split.name}}</th>
            <td></td>
            <td>{{split.get_human_distance }}</td>
            <td>
                {% if split.get_total_ascent %}
                    <img src="{% static 'bootstrap-icons-1.11.2/arrow-up-right.svg' %}" title="Up"/>
                    {{ split.get_total_ascent }} m
                {% endif %}
                {% if split.get_total_descent %}
                <img src="{% static 'bootstrap-icons-1.11.2/arrow-down-right.svg' %}" title="Up"/>
                    {{ split.get_total_descent }} m
                {% endif %}
            </td>
            <td>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'bootstrap-icons-1.11.2/cloud-download.svg' %}" title="Download GPX Track"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/gpxtrack/{{object.slug}}/user_segment_split_download/{{split.pk}}" class="dropdown-item">Download GPX Track</a></li>
                        <li><a href="#" data-url="/gpxtrack/{{object.slug}}/user_segment_split_download/{{split.pk}}" class="dropdown-item gpx-user-segment-split-download-with-waypoints">Download GPX Track with POIs</a></li>
                    </ul>
                </div>
              </td>
        </tr>
        {%endfor %}
    </tbody>
</table>