<div class="" id="waypoint_tags_info_{{object.id}}">
    <h5 id="offcanvasTopLabel" id="canvas_top_title">{{object.name}}</h5>
    {% if object.track_segment_distance %}
    on kilometer: <b>{{ object.track_segment_distance }} km</b> from Track Segment Start<br/>
    {% endif %}
    {% if object.user_segment_split_distance %}
    on kilometer: <b>{{object.user_segment_split_distance}} km</b> from last split<br/>
    {% endif %}

    {% if object.get_url %}
        <b>Website:</b> <a target="_blank" href="{{ object.get_url }}">{{ object.get_url }}</a><br/>
    {% endif %}
    {% if object.get_phone %}
        <b>Phone:</b> <a href="tel:{{ object.get_phone }}">{{ object.get_phone }}</a><br/>
    {% endif %}

    {% if object.has_gpx_track_to %}
    <a href="{{ object.track_to_waypoint.get_download_url }}">Download Track to Waypoint</a> - {{ object.track_to_waypoint.get_away_kilometer }} km<br/>
    <br/>
    {% endif %}

    {% for name, value in object.get_tags.items %}
    <b>{{name}}:</b> {{value}}<br/>
    {% endfor %}
</div>