{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GPX Viewer / OSM Toolbox</title>

    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" crossorigin=""/>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">

    <script src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/leaflet.js' %}" crossorigin=""></script>
    <script type="text/javascript" src="{% static 'js/SmoothMarkerBouncing-3.0.3/bundle.js' %}" crossorigin=""></script>
	<script type="text/javascript" src="{% static 'js/leaflet.geometryutil.js' %}" crossorigin=""></script>
	<script type="text/javascript" src="{% static 'js/leaflet.almostover.js' %}" crossorigin=""></script>
	
	{% block opengraph %}{% endblock%}

    <style>
		html, body {
			height: 100%;
			margin: 0;
		}
		.leaflet-container {
			height: 400px;
			width: 600px;
			max-width: 100%;
			max-height: 100%;
		}

		.marker_camping_with_url {
			background-color: rgba(50%, 100%, 100%, 0.5)
		}
		.marker_default {
		}
		.maker_edit_polyline {
			background-color: #0000ff;
		}
		.listening-rect {
			fill: transparent;
		}
		.mouse-text {
			fill: red;
		}
		.map_elevation {
			background-color: white;
			border-radius: 7px;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<button class="btn btn-outline-info" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
			Menu
		</button>
		<span class="navbar-brand">GPX / OSM Tool</span>
		<div>
			<button class="btn btn-outline-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
				POIs
			</button>
			<a href="/"><button class="btn btn-outline-info">Upload new GPX Track</button></a>
		</div>
	</nav>

	<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight">
		<div class="offcanvas-header">
			<h6 class="offcanvas-title d-none d-sm-block" id="offcanvasRight">Menu</h6>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body px-0">
			{% block sidebarright %}{% endblock%}
		</div>
	</div>

	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas">
		<div class="offcanvas-header">
			<h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h6>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body px-0">
			{% block sidebarleft %}{% endblock%}
		</div>
	</div>



	<div class="container-fluid">
		{% block content %}{% endblock%}
	</div>
	<div class="container-fluid">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<div class="col-md-1 d-flex align-items-center">
				<a class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
				 title="GitHub Project / Code / Issues" href="https://github.com/hggh/gpx-viewer" target="_blank">GitHub</a>
				|&nbsp;
				<span>
					<a class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1" 
					title="Changelog" href="https://github.com/hggh/gpx-viewer/blob/main/CHANGELOG.md" target="_blank">CHANGELOG</a>
				</span>
			</div>
			<ul class="nav col-md-7 justify-content-end list-unstyled d-flex">
				<li class="ms-3">
					<a class="text-muted" title="Twitter" href="https://twitter.com/hggh_" target="_blank"><img src="{% static 'bootstrap-icons-1.11.2/twitter-x.svg'%}"></a>
				</li>
				<li class="ms-3">
					<a class="text-muted" title="BlueSky" href="https://bsky.app/profile/hggh.bsky.social" target="_blank"><img src="{% static 'bootstrap-icons-1.11.2/twitter.svg'%}"></a></li>
				</li>
			</ul>
		</footer>
	</div>
</body>
</html>