{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GPX Viewer / OSM Toolbox</title>
	<script type="text/javascript" src="{% static 'bundle.js' %}?DEVELOPMENT_SERVER"></script>

	{% block opengraph %}{% endblock%}
</head>
<body>
	<div class="popup" id="popup"></div>
	<nav class="navbar navbar-dark bg-dark">
		<button class="btn btn-outline-info" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
			</svg>
		</button>
		<span class="navbar-brand">{% block html_title %}{% endblock %}</span>
		<div>
			{% block split_track_button %}{% endblock%}
		</div>
	</nav>

	<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight">
		<div class="offcanvas-header">
			<h6 class="offcanvas-title d-none d-sm-block" id="offcanvasRight"><img src="{% static 'bootstrap-icons-1.11.2/scissors.svg' %}" /> Split Track</h6>
			<button type="button" id="right_canvas_close" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body px-0">
			{% block sidebarright %}{% endblock%}
		</div>
	</div>

	<div class="offcanvas offcanvas-start w-50" tabindex="-1" id="offcanvas">
		<div class="offcanvas-header">
			<h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h6>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			{% block sidebarleft %}{% endblock%}
		</div>
	</div>


	<div class="container-fluid">
		{% block content %}{% endblock%}
	</div>
	<div class="container-fluid">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<div class="col-md-1 d-flex align-items-center">
				<span>
				<a class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
				 title="GitHub Project / Code / Issues" href="https://github.com/hggh/gpx-viewer" target="_blank">GitHub</a>
				</span>
				<span>
					<a class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1" 
					title="Changelog" href="https://github.com/hggh/gpx-viewer/blob/main/CHANGELOG.md" target="_blank">CHANGELOG</a>
				</span>
				<span>
					<a class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1" 
					title="Impressum" href="/impressum">Impressum</a>
				</span>
			</div>
		</footer>
	</div>
</body>
</html>
