{% extends "base.html" %}
{% block opengraph %}
<meta property="og:title" content="GPXViewr - {{object.name}}"/>
<meta name="description" property="og:description" content="GPX Track Viewer with POI search based on OpenStreetMap"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="https://gpxviewr.genannt.name/static/preview.png"/>
{% endblock %}

{% block sidebarleft %}
<div class="list-group border-0 rounded-0 text-sm-start min-vh-100 border-end" >
    <div class="list-group-item border-end-0 d-inline-block">
        <label for="osm_tile_lang">map language:</label>
        <select class="form-select form-select-sm" aria-label="OSM language" id="osm_tile_lang">
            <option value="https://tile.openstreetmap.de/{z}/{x}/{y}.png" selected>german</option>
            <option value="https://tile.openstreetmap.org/{z}/{x}/{y}.png">english</option>
        </select>
    </div>

    <div class="list-group-item border-end-0 d-inline-block">
        <span>Download Infomation as GPX Waypoint Track</span>
            <form method="POST" action="/gpxtrack/{{object.slug}}/download">
                {% csrf_token %}
                <input type="hidden" name="slug" value="{{object.slug}}"/>
                <select name="waypoint_types" class="form-select-sm" multiple aria-label="Multiple select example">
                    {% for waypoint_type in object.get_waypoint_types %}
                    <option selected value="{{waypoint_type.pk}}">{{waypoint_type.name }}</option>
                    {% endfor %}
                </select>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Download Waypoints</button>
                </div>
            </form>
    </div>
    <br/>
    <div class="list-group-item border-end-0 d-inline-block">
        <label for="customRange3" class="form-label">Waypoint Icon Size</label>
        <input type="range" class="form-range" value="16" min="16" max="42" step="2" id="waypoint_icon_size">
    </div>
    <div class="list-group-item border-end-0 d-inline-block">
        <h2>Tracks</h2>
        {% for track in object.tracks.all %}
            {{ track.name }} / {{track.get_human_distance }} {%if track.link %}<a href="{{ track.link }}" target="_blank">Link ({{track.get_link_hostname}})</a>{% endif %}<br/>
        {% endfor %}
    </div>
</div>
{% endblock%}

{% block sidebarright %}
<div>
    <div class="offcanvas-body" style="padding-top:0px;">
    <small>
    You can split your track into segments to download it to your garmin or plan your tour.
    </small>
    <div>
        <button id="track_split_edit" type="button" class="btn btn-info">Create/Edit Split</button>
    </div>
    <br/>
        <div id="sidebar_split_track">
        </div>
    </div>
</div>
{% endblock%}

{% block html_title %}
{{object.name }}
{% endblock %}


{% block content %}
{% load static %}
<div class="collapse" id="gpx_file_slug" data-slug="{{ object.slug }}"></div>
<main class="col ps-md-2 pt-2">
    <div class="page-header pt-3">
        {% if object.get_job_status == 'error' %}
            <div class="alert alert-danger" role="alert">
                Job is in status error - ask on <a href="https://github.com/hggh/gpx-viewer/issues" target="_blank">GitHub</a> for help! :-(
            </div>
        {% endif %}
        <div id="job_status_info" class="alert alert-warning collapse" role="alert">
            <div class="spinner-border text-primary" role="status"></div>
            <span id="job_status_info_box" style="padding-left:10px;">wating for job status</span>
        </div>
        <div style="float:right;">
            <a class="nolinkcolor" href="#" title="Click on map and open location in OpenStreetMap">
                <img id="map_query_openstreetmap" width="20px" height="20px" src="{% static 'openstreetmap_logo.svg' %}"/>
            </a>
            |
            <a class="nolinkcolor" href="#" title="Click on map and open location in Google Maps">
                <img id="map_query_google_maps" width="20px" height="20px" src="{% static 'bootstrap-icons-1.11.2/google.svg' %}"/>
            </a>
            |
            <span id="elevation_tab_previous" class="collapse">
                <a class="nolinkcolor" href="#">
                    <img width="25px" height="25px" src="{% static 'bootstrap-icons-1.11.2/arrow-left.svg' %}"/>
                </a>
            </span>
            <a class="nolinkcolor" href="#" title="show/hide elevation graph">
                <img id="elevation_hide_show" class="animated shake" width="25px" height="25px" src="{% static 'bootstrap-icons-1.11.2/graph-up.svg' %}"/>
            </a>
            <span id="elevation_tab_next" class="collapse">
                <a class="nolinkcolor" href="#">
                    <img width="25px" height="25px" src="{% static 'bootstrap-icons-1.11.2/arrow-right.svg' %}"/>
                </a>
            </span>
        </div>
    </div>

    <div id="map" style="width: 100%; height: 200px;"></div>
    <div id="split_track_graph" style="width:100%; height: 200px;" class="collapse"></div>
    <div id="split_track_graph_legend" style="width: 100%; height: 100px;" class="collapse"></div>
    <div id="split_track_graph_legend_text" style="width: 100%; height: 100px;" class="collapse"></div>


    <div id="map_query_google_maps_info_message_box" class="mt-4 p-5 bg-primary text-white rounded flyover flyover-centered">
        Click on map to open this location in Google Maps.
    </div>

    <div id="map_query_opensteetmap_info_message_box" class="mt-4 p-5 bg-primary text-white rounded flyover flyover-centered">
        Click on map to open this location in OpenStreetMap.
    </div>
</main>
{% endblock %}
