{% extends "base.html" %}
{% block opengraph %}
<meta property="og:title" content="GPXViewr"/>
<meta name="description" property="og:description" content="GPX Track Viewer with POI search based on OpenStreetMap"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="https://gpxviewr.genannt.name/static/preview.png"/>
{% endblock %}

{% block html_title %}GPX / OSM Tool{% endblock %}

{% block content %}

<div class="container">
<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">

{% if demo_track %}
<div class="alert alert-light" role="alert">
    Demo Track: <a href="/gpxtrack/{{ demo_track.slug }}">{{ demo_track.name }}</a>
</div>
{% endif %}

{% if messages %}
<div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{message}}
        </div>
    {% endfor %}
</div>
{% endif %}

<div class="container" style="padding-top:15px; padding-bottom:20px;">
    Find toilets, camping sites and more POIs (Point of Interest) from OpenStreetMap along your GPX bikepacking route.<br/>
    Split GPX Track in realtime with preview on Map and download splitted tracks to your GPS device.
    <div class="collapse">
        Finde Toiletten, Camping Plätze und mehr von OpenStreetMap entlang deiner GPX Route für die Radreise.
    </div>
</div>
<form method="post" id="gpx_track_upload" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row mb-3">
        <label for="inputFile" class="col-sm-2 col-form-label">GPX Track</label>
        <div class="col-sm-10">
            <input type="file" class="form-control" name="file" required id="id_file" accept=".gpx">
            <input type="hidden" class="form-control" name="name" id="id_name">
            the tool works very well with GPX Tracks downloaded from Komoot or <a href="https://brouter.m11n.de/" target="_blank">Brouter</a>
        </div>
    </div>
    <div class="row mb-3">
        <label for="bicycle_type_option" class="col-sm-2 col-form-label">bicycle type</label>
        <div class="col-sm-10">
            {{form.bicycle_type}}
            only needed if camping or hotel is used. works only in Europe. Route from the Track to the POI will be calculated with Valhalla Routing Engine.
        </div>
    </div>
    <div class="row mb-3">
        <label for="delete_after" class="col-sm-2 col-form-label">delete after</label>
        <div class="col-sm-5">
            <input type="date" class="form-control" min="{% now "Y-m-d" %}" name="delete_after" required id="id_delete_after" value="{{form.delete_after.value}}">
        </div>
    </div>
    <div class="row mb-3">
        <label for="perm_public_available" class="col-sm-2 col-form-label">public available via URL</label> 
        <div class="col-sm-10">
            <input type="hidden" name="user" value="{% if user.is_authenticated %}{{user.id}}{% endif %}"/>
            <select class="form-select" name="perm_public_available" id="id_perm_public_available" {% if user.is_authenticated %}{%else%}disabled{% endif %}>
                {% if user.is_authenticated %}
                <option value="true">Yes</option>
                <option value="false" selected>No</option>
                {% else %}
                <option value="true" selected>Yes</option>
                <option value="false">No</option>
                {% endif %}
            </select>
            If you have no account the GPX Track with the Waypoints (POI) are available via the URL. Every person who knows the secret URL can access the Track and modify the Segment Splits.<br/>
            If you log in, you can select <i>no</i>, the GPX Track is only available for your User.
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            type
        </div>
        <div class="col">
            enabled
        </div>
        <div class="col">
            around (in meters)
        </div>
        <div class="col">
            no duplicate within ... meters
        </div>
    </div>
    {% for wpt in waypoint_types %}
    <div class="row g-3 waypoint_types" data-wpt-name="{{wpt.name}}" data-wpt-name-html="{{wpt.html_id}}">
        <div class="col">{{ wpt.name }}</div>
        <div class="col">
            <input class="form-check-input" type="checkbox" value="" id="{{wpt.html_id}}" {%if wpt.checked %}checked{% endif %}>
        </div>
        <div class="col">
            <input type="number" class="form-control" id="{{wpt.html_id}}_around" value="{{ wpt.around }}" min="0" max="{{ wpt.around_max }}" step="10" required>
        </div>
        <div class="col">
            <input type="number" class="form-control" id="{{wpt.html_id}}_around_duplicate" value="{{ wpt.around_duplicate }}" min="0" step="10" required>
        </div>
    </div>
    {% endfor %}
    <div class="row mb-3">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col" style="text-align: right;"><small><a href="#" id="waypoint_types_reset_to_default" title="Reset the around and enabled Waypoints to default values.">Reset Values to Default</a></small></div>
    </div>
    <input type="hidden" name="wpt_options" value="{dd:ddd}" id="wpt_options">
    <button type="submit" class="btn btn-primary">Upload GPX Track!</button>
</form>

</main>
</div>

{% if uploaded_tracks %}
<div class="container">
    <h5>your uploaded GPX tracks:</h5>
    <ul class="list-group list-group-flush">
        {% for gpx_track in uploaded_tracks %}
        <li class="list-group-item"><a href="{% url 'gpx-file-detail' gpx_track.slug %}">{{gpx_track.name }} ({{gpx_track.created }})</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}