{% extends "base.html" %}
{% block content %}

<div class="container">
<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">

<div class="alert alert-light" role="alert">
Demo Track: <a href="https://gpxviewr.genannt.name/gpxtrack/agaxdfkIoP5msdVKgNxtSjx9qz9yqWPICbzUkKyh">2019_STGT-Berlin</a>
</div>

<form method="post" id="gpx_track_upload" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row mb-3">
        <label for="inputFile" class="col-sm-2 col-form-label">GPX Track</label>
        <div class="col-sm-10">
            <input type="file" class="form-control" name="file" required id="id_file" accept=".gpx">
            <input type="hidden" class="form-control" name="name" id="id_name">
        </div>
    </div>
    <div class="row mb-3">
        <label for="bicycle_type_option" class="col-sm-2 col-form-label">bicycle type</label>
        <div class="col-sm-10">
            {{form.bicycle_type}}
            only needed of camping or hotel is used. works only in Europe. Route from the Track to the POI will be calculated with Valhalla Routing Engine.
        </div>
    </div>
    <div class="row mb-3">
        <label for="delete_after" class="col-sm-2 col-form-label">delete after</label>
        <div class="col-sm-5">
            <input type="date" class="form-control" name="delete_after" required id="id_delete_after" value="{{form.delete_after.value}}">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            type
        </div>
        <div class="col">
            enabled
        </div>
        <div class="col">
            around (in meters)
        </div>
        <div class="col">
            no duplicate within ... meters
        </div>
    </div>
    {% for wpt in waypoint_types %}
    <div class="row g-3 waypoint_types" data-wpt-name="{{wpt.name}}" data-wpt-name-html="{{wpt.html_id}}">
        <div class="col">{{ wpt.name }}</div>
        <div class="col">
            <input class="form-check-input" type="checkbox" value="" id="{{wpt.html_id}}" checked>
        </div>
        <div class="col">
            <input type="number" class="form-control" id="{{wpt.html_id}}_around" value="{{ wpt.around }}" min="0" max="{{ wpt.around_max }}" step="10" required>
        </div>
        <div class="col">
            <input type="number" class="form-control" id="{{wpt.html_id}}_around_duplicate" value="{{ wpt.around_duplicate }}" min="0" step="10" required>
        </div>
    </div>
    {% endfor %}
    <input type="hidden" name="wpt_options" value="{dd:ddd}" id="wpt_options">
    <button type="submit" class="btn btn-primary">Upload GPX Track!</button>
</form>

<script>
    var f = document.querySelector("#gpx_track_upload")
    f.onsubmit = function() {
        var data = {};
        var waypoint_types = document.querySelectorAll('.waypoint_types');
        for (var i =0; i < waypoint_types.length; i++) {
            var name = waypoint_types[i].dataset.wptName;
            var name_html = waypoint_types[i].dataset.wptNameHtml;
            data[name] = {
                'enabled': document.querySelector("#" + name_html).checked,
                'around': document.querySelector("#" + name_html + "_around").value,
                'around_duplicate': document.querySelector("#" + name_html + "_around_duplicate").value
            };
        }
        document.querySelector("#wpt_options").value = JSON.stringify(data);
    };
</script>
</main>
</div>

{% if uploaded_tracks %}
<div class="container">
    <h5>your uploaded GPX tracks:</h5>
    <ul class="list-group list-group-flush">
        {% for gpx_track in uploaded_tracks %}
        <li class="list-group-item"><a href="{% url 'gpx-file-detail' gpx_track.slug %}">{{gpx_track.name }} ({{gpx_track.created }})</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}