on:
  push:
    branches: ['main']

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

# There is a single job in this workflow. It's configured to run on the latest available version of Ubuntu.
jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
      # 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta-web
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/hggh/gpx-viewer/web

      - name: Build and push Docker image
        id: push-wev
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile-web
          push: true
          tags: ghcr.io/hggh/gpx-viewer/web:latest
          labels: ${{ steps.meta-web.outputs.labels }}
      
      - name: celery Extract metadata (tags, labels) for Docker
        id: meta-celery
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/hggh/gpx-viewer/celery

      - name: celery Build and push Docker image
        id: push-celery
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile-celery
          push: true
          tags: ghcr.io/hggh/gpx-viewer/celery:latest
          labels: ${{ steps.meta-celery.outputs.labels }}