name: Create and publish a Docker image


on:
  push:
    branches: ['main']

env:
  REGISTRY: ghcr.io


jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta-web
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.REGISTRY }}/gpx-viewer/web
        
      - name: Build and push Docker image Web
        id: push-web
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile-web
          context: .
          push: true
          tags: ${{ steps.meta-web.outputs.tags }}
          labels: ${{ steps.meta-web.outputs.labels }}

      - name: Docker meta
        id: meta-celery
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.REGISTRY }}/gpx-viewer/celery

      - name: Build and push Docker image Celery
        id: push-celery
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile-celery
          context: .
          push: true
          tags: ${{ steps.meta-celery.outputs.tags }}
          labels: ${{ steps.meta-celery.outputs.labels }}
